@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  background: #08060f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #08060f;
  color: white;
  font-family: "Google Sans", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 10;
}

.content-wrapper {
  text-align: center;
  max-width: 800px;
  width: 100%;
  animation: fadeIn 1s ease-out;
}

.profile-picture-container {
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 100;
  border: 2px solid rgba(255, 255, 255, 0.25);
  opacity: 1;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
}

h2 span {
  font-weight: 600;
}

h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.custom-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 8px 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

.custom-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-modal .modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-modal .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.about-content,
.contact-content {
  text-align: center;
}

.about-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.skills-list,
.contact-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.skills-list li,
.contact-list li {
  margin-bottom: 10px;
}

.skills-list i,
.contact-list i {
  margin-right: 10px;
  color: white;
}

.contact-list a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-list a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal.fade .modal-dialog {
  transform: scale(0.95);
  transition: transform 0.2s ease-out;
}

.modal.show .modal-dialog {
  transform: scale(1);
}
